/* Simple search bars */

.search-container {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #151515;
  border-radius: 10px;
}

.search {
  position: relative;
  font-size: 0.95rem;
  background-color: #151515;
  border-radius: 10px;
  padding: 6px 20px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  color: #f7f3ff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.search-icon {
  position: absolute;
  right: 15px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.search::placeholder {
  color: #49454f;
  opacity: 1;
}

.vin-input-container {
  position: relative;
  width: 58%;
  display: flex;
  align-items: center;
  background-color: #151515;
  border-radius: 5px;
}

.vin-input {
  position: relative;
  font-size: 0.95rem;
  background-color: #171717;
  border-radius: 4px;
  padding: 6px 20px;
  margin-top: -5px;
  width: 100%;
  height: 30px;
  font-size: 15px;
  border: none;
  text-transform: uppercase;
  outline: none;
  color: #f7f3ff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.vin-input::placeholder {
  color: #49454f;
  opacity: 1;
}

input[type="file"] {
  display: none;
}

.graph-row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.graph-container {
  background-color: #151515;
  border-radius: 12px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  user-select: none;
}

.graph-dropdown {
  position: relative;
  display: inline-block;
  width: 290px;
  margin-right: 10px;
}

.graph-dropdown label {
  margin-left: 1.5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f7f3ff;
  margin-bottom: 5px;
  display: block;
}

.graph-dropdown-toggle {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding-top: 10px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #151515;
  border: none;
  color: #f7f3ff;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.graph-dropdown-toggle::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23f7f3ff" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round" height="20" viewBox="0 0 24 24" width="24"><path d="m6 9 6 6 6-6"/></svg>');
  color: #f7f3ff;
  float: right;
  font-size: 0.5em;
  margin-bottom: 4px;
  padding-right: 5px;
}

.graph-dropdown-menu {
  list-style: none;
  margin: 5px 0 0 0;
  position: absolute;
  width: 100%;
  background-color: #151515;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 100;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.graph-dropdown-menu li {
  padding: 8px;
  padding-left: 11px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #f7f3ff;
  border-radius: 0 0 5px 5px;
}

.graph-dropdown-menu li:hover {
  background-color: #0f0f0f;
}

.terminal-output {
  background-color: #151515;
  color: #f7f3ff;
  padding: 15px;
  font-size: 1rem;
  width: 100%;
  height: 90%;
  border-radius: 3px;
  overflow: auto;
  font-family: monospace;
  text-transform: uppercase;
  border: 1px solid #202020;
}

.terminal-input {
  flex: 1;
  background: #151515;
  color: #f7f3ff;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-family: monospace;
  font-size: 1rem;
  padding: 15px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid #202020;
}
